@define-color bg_color #181825;
@define-color fg_color #cdd6f4;
@define-color primary #89b4fa;
@define-color green #a6e3a1;
@define-color red #f38ba8;
@define-color surface #313244;

* {
  font-family: "JetBrains Mono Nerd Font";
  font-size: 12px;
}

window#waybar {
  background-color: @bg_color;
  color: @fg_color;
}

window#waybar > box {
    padding: 0.3rem 0.5rem;
}

.modules-left {
  background-color: @bg_color;
}

.modules-right {
  background-color: @bg_color;
}

#workspaces {
  background-color: @surface;
  border-radius: 0.5rem;
}

#workspaces button {
  border-radius: 1rem;
  padding: 0 0.2rem;
  color: @fg_color;
}


#workspaces button.active {
  padding: 0 0.75rem;
  background-color: @primary;
  color: @bg_color;
}

#window {
  color: @fg_color;
  background-color: @bg_color;
  padding: 0px 1rem 0px 1rem;
}

window#waybar.empty #window {
  background-color: transparent;
  color: transparent;
}

window#waybar.empty {
  background-color: @bg_color;
}

#network,
#temperature,
#backlight,
#pulseudio,
#battery {
  padding: 0px 1rem;
}

#backlight.icon {
  color: @green;
}

#clock {
  margin: 0px 1rem 0px 1rem;
}

#tray {
  background-color: @surface;
  border-radius: 0.5rem;
  padding: 0px 1rem;
  margin: 0px 1rem 0px 0px;
}

#battery.critical {
  color: @red;
}

#battery.charging {
  color: @green;
}

#network.disconnected {
  color: @red;
}

#custom-notification {
  padding: 0px 1rem;
}

